/* Navbar container */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    background-color: var(--secondary-color);
    transition: all 0.5s ease;
    width: 100%;
    box-shadow: 0px 2px 12px 0px #00000021;
    margin: 0 auto;
}

/* Navbar scrolled state */
.navbar.scrolled {
    box-shadow: 1px 0px 9px 2px rgb(0 0 0 / 18%);
    width: 80%;
    border-radius: 10px;
    top: 1.25rem;
    margin: 0 auto;
}

/* Flex inner */
.navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

/* Logo */
.navbar .logo {
    width: 70px;
}

.navbar .logo img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.navbar .navbar-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.navbar .navbar-icons .cart-icon {
    cursor: pointer;
    transition: var(--transition);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .navbar-icons .cart-count {
    position: absolute;
    top: -5px;
    left: -5px;
    background-color: #ff0000;
    color: white;
    border-radius: 50%;
    font-size: 11px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .navbar-icons .cart-icon:hover {
    background-color: var(--main-color);
    color: white;
}

.navbar .navbar-icons .nav-lang {
    border: none;
    background: var(--main-color);
    border-radius: 8px;
    color: white;
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: var(--transition);
}

.navbar .navbar-icons .login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: var(--main-color);
    color: white;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

.navbar .navbar-icons .nav-lang:hover,
.navbar .navbar-icons .login:hover {
    background-color: var(--hover-color);
}

/* Desktop menu */
.navbar .desktop-menu {
    display: none;
    height: 100%;
    gap: 24px;
}

.navbar .desktop-menu a {
    color: var(--main-color);
    font-weight: 600;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .desktop-menu a::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 0px;
    background-color: var(--main-color);
    border-radius: 8px 8px 0 0;
    transition: var(--transition);
}

.navbar .desktop-menu a.active::after {
    height: 6px;
}

.navbar .desktop-menu a:hover::after {
    height: 6px;
}

/* Mobile menu button */
.navbar .mobile-menu-btn {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar .mobile-menu-btn button {
    border: none;
    background: #eeeeee;
    color: black;
    border-radius: 8px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: var(--transition);
}

/* Mobile menu */
.navbar .mobile-menu {
    display: none;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

.navbar .mobile-menu.open {
    display: flex;
    animation: slide-down 0.3s ease;
}

.navbar .mobile-menu a {
    color: var(--foreground);
    text-decoration: none;
    padding: 0.5rem 0;
    transition: color var(--transition);
}

.navbar .mobile-menu a:hover {
    color: var(--primary);
}

@media (max-width: 1024px) {
    .navbar .desktop-menu {
        gap: 18px
    }

    .navbar .desktop-menu a {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .navbar.scrolled {
        width: 90%;
    }

    .navbar .navbar-icons .cart-icon {
        width: 30px;
        height: 30px;
    }

    .navbar .navbar-icons .nav-lang {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }

    .navbar .navbar-icons .login {
        padding: 6px;
        font-size: 14px;
    }

    .navbar .mobile-menu-btn button {
        width: 30px;
        height: 30px
    }
}

@media (min-width: 768px) {
    .navbar .desktop-menu {
        display: flex;
    }

    .navbar .mobile-menu-btn {
        display: none;
    }

    .navbar-inner {
        height: 5rem;
    }
}

/* Animation */
@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}