:root {
    --main-color: #003334;
    --hover-color: #014849;
    --secondary-color: white;
    --transition: 0.3s;
    --main-margin: 64px;
    --main-padding: 16px;
    --focus-input-color: #0148496e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: block !important;
}

/* .color-selector {
    margin-bottom: 20px;
} */

.color-selector label {
    display: block;
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
}

.color-options {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.color-btn {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #ddd;
    cursor: pointer;
    transition: all 0.2s ease;
}

.color-btn:hover {
    transform: scale(1.2);
}

.color-btn.selected {
    border-color: #333;
    transform: scale(1.2);
}

.color-selector.display-color-error,
.size-selector.display-color-error {
    animation: error 0.5s ease-in-out;
}

.size-error,
.color-error {
    font-size: 14px;
    margin-top: 4px;
    font-weight: 600;
    color: red;
    transition: 0.1s;
    margin-bottom: 4px;
}

.collapsed-btn {
    display: inline-block;
    width: 100%;
}

.password-wrap {
    position: relative;
}

.password-wrap .password-toggle-btn {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    padding: 8px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.password-wrap .password-toggle-btn i {
    display: none;
}

.password-wrap:focus-within .password-toggle-btn i {
    display: block;
}

@keyframes error {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(5px);
    }

    50% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}