:root {
    --main-color: #003334;
    --hover-color: #014849;
    --secondary-color: white;
    --transition: 0.3s;
    --main-margin: 64px;
    --main-padding: 16px
}

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}